<!doctype html>
<html>
    <head>
        <script type="text/javascript" src="vue.js" defer></script>
        <script type="text/javascript" src="app.js" defer></script>
    </head>
    <body>
        <h1>[[ pagename|title ]]</h1>
        <h2>Retrieve Contract</h2>
        <form action="/contract" method="get">
            <div>
                <label for="contract">Contract</label>
                <input type="text" id="contract" name="contract" />
            </div>
            <div class="button">
                <button type="submit">Send your message</button>
            </div>
        </form>

        <h2>Submit Contract</h2>
        <form action="/submit_contract" method="post">
            <div>
                <label for="promiser">promiserId</label>
                <input type="text" id="promiser" name="promiserId" />
            </div>
            <div>
                <label for="promiser">promisedId</label>
                <input type="text" id="promised" name="promisedId" />
            </div>
            <div>
                <label for="contract">contract</label>
                <input type="text" id="contract" name="contract" />
            </div>
            <div>
                <label for="value">value</label>
                <input type="text" id="value" name="value" />
            </div>
            <div>
                <label for="expiry">expiry</label>
                <input type="text" id="expiry" name="expiry" />
            </div>
            <div class="button">
                <button type="submit">Send your message</button>
            </div>
        </form>
        <div id="app">

        <div id="app">
            {{ message }}
        </div>
        <ul>
            {% for author in authors %}
            <li{% if loop.first %} class="first"{% endif %}>
                [[ author ]]
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
