<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.4/js/tether.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="vue.js" defer></script>
  <script type="text/javascript" src="app.js" defer></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  $(document).ready(function(){
    $('input.timepicker').timepicker({});
  });
  </script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

</head>
<body>
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="/">Ulysses</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="dropdown-item" href="/#makeContract">Make a contract!</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" href="/contracts">My Contracts</a>
      </li>

      <form class="form-inline float-xs-right">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" vertical-align="middle">
      </fb:login-button>
    </form>

  </ul>
</nav>
</br>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Ulysses</h1>
    <p class="lead"> Ulysses contracts, otherwise known as self-binding contracts, are powerful tools for self-improvement. This is a quick implementation of trustless ulysses contracts. </p>
    <div id="status">
    </div>

  </div>


</br>
</br>
</br>


<div class="col-lg-6">
  <h3>Submit Contract</h3>
  <a name="makeContract"></a>

  <form action="/submit_contract" method="post" id="contract_form">
    <div>
      <label for="promised" class="sr-only">promisedId</label>
      <input class="form-control" placeholder="Promise to" type="text" id="promised" name="promisedId" />
    </div>
    <div>
      <label for="contract" class="sr-only">contract</label>
      <input class="form-control" placeholder="Contract Description" type="text" id="contract" name="contract" />
    </div>
    <div>
      <label for="value" class="sr-only">value</label>
      <input class="form-control" placeholder="Dollar Value" type="text" id="value" name="value" />
    </div>
    <div>
      <label for="expiry" class="sr-only">expiry</label>
      <input class="form-control" type="text" id="datepicker" placeholder="Expiry" name="expiry">
      <!-- <input class="form-control" placeholder="Expiry" type="text" id="expiry" name="expiry" /> -->
    </div>
    <div>
      <label for="expirytime" class="sr-only">expirytime</label>
      <input class="form-control timepicker" type="text" placeholder="Time" name="expirytime">
      <!-- <input class="form-control" placeholder="Expiry" type="text" id="expiry" name="expiry" /> -->
    </div>
  </br>
  <div class="col-md-3">
    <button class="btn" type="submit">Make a contract!</button>
  </div>
</form>
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$('#contract_form').submit(function(event) {
    event.preventDefault(); // Stops browser navigationg
    var dataObject;
    console.log(dataObject);
    // build a json object, store in information to dataObject
    $.post('/submit_contract', dataObject, function(res) {
        console.log(res);
        // on success execute this code
    });
});
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>



</body>
</html>
